header.header
    .header__burger     
        span 
        span 
        span 
    .header__mobile
        .header__logo 
            img(src="img/svg/logo.svg", alt="")
        .header__menu
            a.scroll.header__menu-item(href="#speakers") Спикеры
            a.scroll.header__menu-item(href="#special") Гости
            a.scroll.header__menu-item(href="#program") Программа
            a.scroll.header__menu-item(href="#prices") Тарифы
            a.scroll.header__menu-item(href="#contacts") Контакты