section.tickets
    .tickets__img 
        img(src="img/svg/left-2.svg", alt="")
    .l-default 
        .tickets__item
            .tickets__item-text осталось
            .tickets__item-number 200 билетов