section.contacts#contacts
    .l-default 
        h2.contacts__title.title.title--h2 КОНТАКТЫ
    .contacts__img.contacts__img-left
        img(src="img/svg/left.svg", alt="")
    .contacts__container
        .l-default 
            .contacts__wrapper
                .contacts__info
                    .contacts__info-title Конференция <br>Invest Heroes
                    .contacts__info-when
                        .contacts__info-date 09.07.2022 / 
                        .contacts__info-time &nbsp;15:00
                    .contacts__place
                        .contacts__place-icon 
                            img.lazy(data-src="img/svg/map-pin.svg", alt="")
                        .contacts__place-text Москва, Спартаковский переулок 2с1, подъезд №7
                    .contacts__user
                        .contacts__user-top
                            .contacts__user-icon 
                                img.lazy(data-src="img/svg/user.svg", alt="")
                            .contacts__user-name Сергей Леньшин
                        a.contacts__user-phone(href="tel:+79102233414") +7 910 223 34 14
                        a.contacts__user-phone(href="t.me/Sergey_Lenshin") t.me/Sergey_Lenshin
                .contacts__iframe
                    .contacts__map
                        <svg id="border" viewBox="0 0 784 669" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.4814 376.682V376.667L1.48091 376.651C-2.70511 242.685 20.334 145.489 74.5918 83.5919C128.815 21.7346 214.426 -5.09797 335.964 2.15668L335.993 2.15846H336.023C430.03 2.15846 541.867 21.5194 630.164 64.3111C718.471 107.108 783 173.205 783 266.623C783 360.489 764.709 460.904 722.976 537.814C681.261 614.69 616.186 668 522.533 668C428.56 668 298.19 641.938 191.339 592.413C137.916 567.652 90.4279 537.051 56.3079 500.959C22.1959 464.876 1.4814 423.347 1.4814 376.682Z" stroke="white" stroke-opacity="0.19" stroke-width="2"/>
                        </svg>
                        
                        <svg id="border2" width="866" height="741" viewBox="0 0 866 741" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.53175 417.222V417.206L1.53127 417.191C-3.09288 268.798 22.356 161.106 82.3158 92.5164C142.24 23.9673 236.844 -5.755 371.109 2.28135L371.139 2.28313H371.168C475.019 2.28313 598.57 23.7297 696.119 71.1351C793.678 118.545 865 191.785 865 295.317C865 399.298 844.794 510.54 798.685 595.747C752.593 680.923 680.681 740 577.186 740C473.369 740 329.349 711.13 211.309 656.269C152.291 628.839 99.8232 594.938 62.1222 554.949C24.4293 514.969 1.53175 468.945 1.53175 417.222Z" stroke="white" stroke-opacity="0.19" stroke-width="2"/>
                        </svg>


                        <svg width="100%" height="100%" viewBox="0 0 784 669" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <clipPath id="clip" lipPathUnits="objectBoundingBox">
                                <path d="M1.4814 376.682V376.667L1.48091 376.651C-2.70511 242.685 20.334 145.489 74.5918 83.5919C128.815 21.7346 214.426 -5.09797 335.964 2.15668L335.993 2.15846H336.023C430.03 2.15846 541.867 21.5194 630.164 64.3111C718.471 107.108 783 173.205 783 266.623C783 360.489 764.709 460.904 722.976 537.814C681.261 614.69 616.186 668 522.533 668C428.56 668 298.19 641.938 191.339 592.413C137.916 567.652 90.4279 537.051 56.3079 500.959C22.1959 464.876 1.4814 423.347 1.4814 376.682Z" stroke="white" stroke-opacity="0.19" stroke-width="2"/>
                            </clipPath>
                        </svg>

                        a.contacts__map-img(href="https://yandex.ru/maps/213/moscow/house/spartakovskiy_pereulok_2s1/Z04YcABiSkIOQFtvfXt2eXhrYw==/?from=tabbar&ll=37.672379%2C55.778487&source=serp_navig&z=16" target="_blank")
                            +webp(['contacts/map'], 'jpg')

                        