.card
    .card__description электронный билет
    .card__number № 001
    .card__title Конференция
    .card__subtitle Invest Heroes
    .card__name Иванов Александр Владимирович
    .card__price
        .card__price-top
            .card__price-description тариф
            .card__price-title Конференция
            .card__price-label + мастер-класс по криптовалюте
        ul.card__list
            li.card__list-item Участие в конференции
            li.card__list-item Фуршет
            li.card__list-item Общение со спикерами и гостями
            li.card__list-item Перед началом основной конференции, корифеи рынка криптовалют, расскажут поделятся практическим опытом для участников мастер-класса, а также ответят на ваши вопросы
        .card__price-bottom
            .card__price-when
                .card__price-when--date 09.07.2022 / 
                .card__price-when--time &nbsp;15:00
            .card__price-address Москва, Спартаковский переулок 2с1, подъезд №7