.popup#popup
    form.popup__form.form
        .form__title Участвовать
        .form__inputs
            input.form__input(type="text" placeholder="Имя")
            input.form__input(type="email" placeholder="E-mail")
            input.form__input(type="tel" placeholder="Телефон")
        .form__checkbox Отправляя заявку, вы принимаете условия <a href="">договора оферты</a> и даете согласие на обработку своих персональных данных в соответствии с <a href="">политикой конфиндециальности</a>
        button.form__btn.btn.btn--blue(type="submit") Участвовать