section.main-top
    .l-default 
        .main-top__wrapper
            h1.main-top__title.title.title--h1 Конференция
            .main-top__subtitle Invest Heroes
            .main-top__when
                .main-top__date 09.07.2022 / 
                .main-top__time &nbsp;15:00
            .main-top__place  <span>Москва,</span> Спартаковский переулок 2с1, подъезд №7
            a.main-top__btn.btn.btn--blue.scroll(href="#prices") Участвовать