footer.footer
    .l-default 
        .footer__wrapper
            .footer__copyrights © «Invest Heroes», 2018-2022
            .footer__socials 
                a.footer__social(href="")  
                    img(src="img/svg/telegram.svg", alt="")
                a.footer__social(href="")  
                    img(src="img/svg/vk.svg", alt="")
                a.footer__social(href="")  
                    img(src="img/svg/instagram.svg", alt="")